* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #000;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.section .box {
    position: relative;
    width: 40px;
    height: 40px;
    background: #222;
}

.animated {
    animation: box-animation 2s linear forwards;
}

@keyframes box-animation {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        background: #0f0;
    }

    100% {
        filter: hue-rotate(360deg);
    }
}