*{
    padding: 0;
    margin: 0;
}
*,::before,::after{
    box-sizing: border-box;
}
:root{
    --theme-color: #116fea;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: var(--theme-color);
}

.container{
    position: relative;
    height: 200px;
    width: 80vw;
    max-width: 25em;
}
.container .card{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
}
.imageCont{
    /* position: absolute; */
    width: 11.25em;
    height: 11.25em;
    background: #fff;
    margin: -7rem auto 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 0 .3em #fff, 0 0 0 .9em var(--theme-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailCont{
    text-align: center;
    margin: 20px 0;
    line-height: 1.5;
}

.image{
    width: 88%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}
.detailCont h1{
    font-size: 1.8rem;
    color: var(--theme-color);
}
.detailCont h2{
    font-size: 1.2rem;
    color: #555;
}
.detailCont p{
    color: rgb(63, 78, 94);
    font-size: 1.1rem;
}
.btn{
    display: inline-block;
    margin-top: 20px;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #000;
    border-radius: 10px;
    background: #fff;
}

@media (max-width: 400px) {
    .container{
        height: 200px;
        width: 92vw;
    }
    .name{
        font-size: 1.1rem;
    }
    .detailCont{
        line-height: 1.3;
    }
    
}

@media (min-width: 768px) {
    .btn{
        padding: 1rem 2rem;
        font-size: 1.4rem;
    }
    
}